[Unit]
Description=Create ap0 interface for hostapd
Before=hostapd.service
Wants=network.target
After=network.target

[Service]
Type=oneshot
ExecStart=/bin/bash -c 'if ! ip link show ap0 > /dev/null 2>&1; then /sbin/iw dev wlan0 interface add ap0 type __ap; fi'
ExecStart=/sbin/ip addr add 192.168.4.1/24 dev ap0
ExecStart=/sbin/ip link set ap0 up
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target